@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--Kendo UI-->
    <link href="~/Content/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.dataviz.blueopal.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/kendo.web.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <!--Kendo UI-->
    <link href="~/Content/employeestyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutPage</title>
</head>
<body>
    <h1>我是LayoutPage的標題</h1>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
