@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/employeestyle.css" rel="stylesheet" />
    <!--Kendo UI-->
    <link href="~/Content/Kendo%20UI/employeestyle.css" rel="stylesheet" />
    <link href="~/Content/Kendo%20UI/examples-offline.css" rel="stylesheet" />
    <link href="~/Content/Kendo%20UI/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo%20UI/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo%20UI/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo%20UI/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo%20UI/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo%20UI/normalize.min.css" rel="stylesheet" />
    <script src="~/Scripts/Kendo%20UI/kendo.all.min.js"></script>
    <!--Kendo UI-->
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutPage</title>
</head>
<body>
    <h1>我是LayoutPage的標題</h1>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
